kind: Secret
apiVersion: v1
metadata:
  name: argocd-default-cluster-config
  namespace: {{ app_lifecycle_demo_namespace }}
  labels:
    app.kubernetes.io/managed-by: argocd
    app.kubernetes.io/name: argocd-default-cluster-config
    app.kubernetes.io/part-of: argocd
    argocd.argoproj.io/secret-type: cluster
data:
  clusterResources: dHJ1ZQ==
  config: eyJ0bHNDbGllbnRDb25maWciOnsiaW5zZWN1cmUiOmZhbHNlfX0=
  name: aW4tY2x1c3Rlcg==
  server: aHR0cHM6Ly9rdWJlcm5ldGVzLmRlZmF1bHQuc3Zj
type: Opaque
