---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ansible-automation-platform
  namespace: {{ app_lifecycle_demo_namespace }}
  labels:
    operators.coreos.com/{{ app_lifecycle_demo_namespace }}: ""
spec:
  name: ansible-automation-platform-operator
  channel: stable-2.3
  installPlanApproval: Manual
  source: redhat-operators
  sourceNamespace: openshift-marketplace
