apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-app
  namespace: {{ app_lifecycle_demo_namespace }}
spec:
  project: demo-app
  source:
    path: deploy
    repoURL: 'http://gitea.{{ ocp_ingress_domain[0] }}/gitea/demo-app.git'
    targetRevision: master
    plugin:
      name: helm-plugin
  destination:
    namespace: demo-app
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
