apiVersion: rbac.authorization.k8s.io/v1 
kind: RoleBinding
metadata:
  name: demo-app-role-binding
  namespace: demo-app
roleRef:
  apiGroup: rbac.authorization.k8s.io 
  kind: ClusterRole
  name: admin
subjects:
- kind: ServiceAccount
  name: argocd-argocd-application-controller 
  namespace: {{ app_lifecycle_demo_namespace }}
