apiVersion: v2
name: demo-app
description: Demo App
type: application
version: 1.0
appVersion: "1.0.0"

dependencies:
- name: base-chart
  repository: http://nexus.{{ ocp_ingress_domain[0] }}/repository/helm/
  version: 1.0.0
